.reviews-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.review {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(221, 223, 226);
}

.review-left {
    display: inline-block;
    padding: 40px 15px 20px 20px;
    vertical-align: top;
    width: 25%;
}

.review-leftHeader {
    display: table;
    color: #488bf8;
}

.review-leftScore {
    display: table-cell;
    font-size: 36px;
    min-width: 10%;
    vertical-align: bottom;
}

.review-leftScoreText {
    display: table-cell;
    font-size: 16px;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    vertical-align: bottom;
}

.review-detail {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}

.review-user {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    gap: 5px;
}

.review-detail.item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.review-detail.item.icon {
    height: 16px;
    width: 16px;
}

.review-right {
    display: inline-block;
    padding: 20px 20px 20px 15px;
    vertical-align: top;
    width: 75%;
}

.review-bubble {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 30px 60px 20px;
    min-height: 150px;
}

.review-body {
    display: flex;
    flex-direction: column;
}

.review-body.title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 12px;
    position: relative;
    color: #333;
    font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.review-body.text {
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 200;
    line-height: 21px;
    padding-top: 4px;
    position: relative;
    font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.review-review-date {
    padding-top: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    line-height: 40px;
}
.pagination-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}